/* Стили для страницы "Собрать ланч" */

.menu-section {
    margin-bottom: 50px;
}

.dishes-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.dish-item {
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    border-radius: 35px;
    cursor: pointer;
    background-color: white;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
    transition: all 0.3s ease;
}

.dish-item:hover {
    border: 2px solid tomato;
}

.dish-item:hover button {
    background-color: tomato;
    color: white;
}

.dish-item img {
    width: 100%;
    border-radius: 35px;
    margin-bottom: 15px;
}

.dish-item .price {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.dish-item .name {
    font-size: 18px;
    margin-bottom: 10px;
    flex-grow: 1;
}

.dish-item .weight {
    color: #777;
    margin-bottom: 15px;
}

.dish-item button {
    background-color: #f1eee9;
    border: none;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    margin-top: auto;
    transition: all 0.3s ease;
}

/* Стили для одинаковых размеров картинок продуктов */
.product-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px; /*скругление углов */
}

.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.product {
    text-align: center;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

/* Адаптивность для страницы "Собрать ланч" */
@media (max-width: 800px) {
    .dishes-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    
    nav ul {
        justify-content: space-between;
    }
    
    h1 {
        text-align: center;
    }
}

@media (max-width: 600px) {
    .dishes-grid {
        grid-template-columns: 1fr;
    }
    
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    
    nav ul li a {
        font-size: 22px;
    }
    
    h2 {
        text-align: center;
    }
}